client/node_modules
client/postcss.config.js
client/tailwind.config.js
client/out
client/.pnp
client/.pnp.js
client/.yarn/install-state.gz
client/coverage
client/build
client/.DS_Store
client/*.pem
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.env*.local
client/.vercel
client/*.tsbuildinfo
client/next-env.d.ts
server/go.sum
server/bin